/* Tailwind */
@import 'tailwindcss' source(none);
@import 'tw-animate-css';

/* Plugins */
@plugin '@tailwindcss/typography';
/* @plugin '@tailwindcss/forms'; */
@plugin "@iconify/tailwind4";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: 'pseudoelements';
}

/* Imports */
@import './icons.css';

/*   --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Ubuntu', sans-serif; */

html {
  scrollbar-gutter: stable;
}

/* Below is for shadcn */

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-stone-200, currentColor);
  }
}

:root {
  --background: var(--color-amber-50);
  --foreground: var(--color-stone-950);
  --card: var(--color-amber-50);
  --card-foreground: var(--color-stone-950);
  --popover: var(--color-zinc-50);
  --popover-foreground: var(--color-stone-950);
  --primary: var(--color-amber-800);
  --primary-foreground: var(--color-stone-50);
  --secondary: var(--color-stone-100);
  --secondary-foreground: var(--color-stone-900);
  --muted: var(--color-stone-100);
  --muted-foreground: var(--color-stone-500);
  --accent: var(--color-stone-100);
  --accent-foreground: var(--color-stone-900);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-stone-50);
  --border: var(--color-stone-200);
  --input: var(--color-stone-200);
  --ring: var(--color-amber-600);
  --radius: 0.5rem;

  --sidebar-background: var(--color-zinc-50);
  --sidebar-foreground: var(--color-zinc-700);
  --sidebar-primary: var(--color-zinc-900);
  --sidebar-primary-foreground: var(--color-zinc-50);
  --sidebar-accent: var(--color-zinc-100);
  --sidebar-accent-foreground: var(--color-zinc-900);
  --sidebar-border: var(--color-gray-200);
  --sidebar-ring: var(--color-blue-500);
}
.dark {
  --background: var(--color-gray-950);
  --foreground: var(--color-gray-50);
  --card: var(--color-gray-950);
  --card-foreground: var(--color-gray-50);
  --popover: var(--color-gray-950);
  --popover-foreground: var(--color-gray-50);
  --primary: var(--color-amber-700);
  --primary-foreground: var(--color-gray-50);
  --secondary: var(--color-gray-800);
  --secondary-foreground: var(--color-gray-50);
  --muted: var(--color-gray-800);
  --muted-foreground: var(--color-gray-400);
  --accent: var(--color-gray-800);
  --accent-foreground: var(--color-gray-50);
  --destructive: var(--color-red-900);
  --destructive-foreground: var(--color-gray-50);
  --border: var(--color-gray-800);
  --input: var(--color-gray-800);
  --ring: var(--color-amber-700);

  --sidebar-background: var(--color-gray-900);
  --sidebar-foreground: var(--color-zinc-100);
  --sidebar-primary: var(--color-amber-700);
  --sidebar-primary-foreground: var(--color-zinc-50);
  --sidebar-accent: var(--color-gray-800);
  --sidebar-accent-foreground: var(--color-zinc-100);
  --sidebar-border: var(--color-zinc-800);
  --sidebar-ring: var(--color-amber-500);
}

@theme inline {
  /* Fonts */
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-mono:
    'Source Code Pro Variable', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;

  /* Colors */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Button */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-caution: var(--color-red-500);
  --color-warning: var(--color-amber-500);
  --color-info: var(--color-sky-500);
  --color-success: var(--color-green-500);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Border */
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Animations */
  --animate-accordion-down: 0.2s ease-out accordion-down;
  --animate-accordion-up: 0.2s ease-out accordion-up;
  --animate-caret-blink: 1.25s ease-out infinite caret-blink;

  /* Keyframes */
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--bits-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--bits-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
}
