name: ci

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
      - uses: ageorgeh/pnpm-action-setup@fix/skip-install-if-existing
        with:
          cache: true
          run_install: true
          version: 10.28.0

      - name: format
        run: pnpm fmt:check
      - name: lint
        run: pnpm lint

      - name: build
        run: pnpm build

  test:
    runs-on: macos-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: ageorgeh/pnpm-action-setup@fix/skip-install-if-existing
        with:
          cache: true
          run_install: true
          version: 10.28.0

      - name: Restore Playwright browsers cache
        uses: actions/cache/restore@v4
        with:
          path: ~/Library/Caches/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps && npx playwright install chrome
      - name: Save Playwright browsers cache
        uses: actions/cache/save@v4
        with:
          path: ~/Library/Caches/ms-playwright
          key: ${{ runner.os }}-pw-${{ hashFiles('pnpm-lock.yaml') }}

      - name: build
        run: pnpm build

      - name: test
        run: pnpm test:e2e

      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 1
